<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %> 

    <div class="container">
      <h2 class="mt-4">Categorias</h2>
      <a href="/admin/categories/new" class="btn btn-success mb-3">Criar nova categoria</a>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Item</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr> 
        </thead>
        <tbody>
            <% categories.forEach((category, index) => { %>
              <tr>
                <th><%= index + 1 %></th>
                <th><%= category.title %></th>   
                <th><%= category.slug %></th>
                <th>
                  <button class="btn btn-warning mr-2">Editar</button>
                  <form method="POST" action="/categories/delete" style="display: inline;">
                    <input type="hidden" name="id" value="<%= category.id %>" >
                    <button  class="btn btn-danger">Deletar</button>
                  </form>
                </th>
              </tr>
            <% }) %>    
        </tbody>
      </table>
    </div>

<%- include('../../partials/footer') %> 