<%- include('partials/header') %> 
  <body>
<%- include('partials/homenavbar') %> 
    
    <div class="container">
      <div class="jumbotron mt-3">
        <h1 class="display-4">Bem vindo.</h1>
        <p class="lead">Este é um blog do guia do programador</p>
        <hr class="my-4">
        <p>Descrição detalhada aqui.</p>
        <a href="#" class="btn btn-primary btn-lg" role="button">Leia mais</a>
      </div>
      <% articles.forEach((article, index) => { %>
        <div class="card mb-3 mt-3">
          <div class="card-header">
            <h2><%= article.title %> </h2>
          </div>
          <div class="card-body">
            <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
          </div>
        </div>
     <% }) %>  
     <div class="row">
       <div class=" col col-12 " >
         <a href="/articles/page/2" style="float: right;">next >>></a>
       </div>
     </div>
    </div>
  </body>
<%- include('partials/footer') %> 
